body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root{
    --brand-color: #434455;
}




.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo link{
    text-decoration: none;
}
.logo .part_logo{
    color: #2e2f42;
}
.blank{
    list-style: none
}
.blank .blank_name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.link{
    text-decoration:none;
}
.blank .blank_name:hover,
.blank .blank_name:focus{
    color: #404bb;
}



.information{
    font-style: normal;
}
.address{
    list-style: none;
}
.contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}
.address.contact:hover,
.address.contact:focus{
    color: #404bbf;
}
.name{
    background-color: #2e2f42;
}
.osnova{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.osnova_button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.osnova_button:hover,
.osnova_button:focus{
    background-color: #404BBF;
}